[submodule "mods/core/petrovich-rules"]
	path = mods/core/petrovich-rules
	url = https://github.com/petrovich/petrovich-rules.git
[submodule "mods/core/petrovich-eval"]
	path = mods/core/petrovich-eval
	url = https://github.com/petrovich/petrovich-eval.git
